---
import type { Feature } from "@/lib/getFeatures";

interface Props extends Feature {}
const { name, description, imageUrl } = Astro.props;
---

<article class="flex flex-col items-center gap-3 max-w-sm">
  <figure class="h-20 w-auto object-contain">
    <img src={imageUrl} alt="Access your files, anywhere" />
  </figure>

  <h2
    class="font-raleway-700 text-white mt-4 text-xl w-full flex text-center justify-center items-center md:min-h-[58px]"
  >
    {name}
  </h2>
  <p class="text-center font-opensans-400 text-white">
    {description}
  </p>
</article>
