---

---

<section class="get-started-section">
  <div class="custom-container">
    <form
      class="bg-navy-850 w-full shadow-2xl flex flex-wrap gap-4 text-white px-8 py-12 rounded-lg md:px-20"
    >
      <h3 class="text-xl font-raleway-700 w-full text-center">
        Get Early acess today
      </h3>
      <p class="text-center font-opensans-400 w-full">
        It only takes a minute to sign up and our free starter tier is extremely
        generous. If you have any questions, our support team would be happy to
        help you.
      </p>

      <input
        type="email"
        required
        aria-required
        placeholder="email@example.com"
        class="w-full sm:w-[60%] bg-white font-opensans-400 py-3 px-4 rounded-3xl text-slate-400 text-sm"
      />
      <button
        type="submit"
        class="w-full sm:w-[35%] sm text-sm font-raleway-700 text-white py-3 rounded-3xl bg-cta shadow-xl"
      >
        Get Started For Free
      </button>
    </form>
  </div>
</section>

<style>
  .get-started-section {
    background-image: linear-gradient(
      to bottom,
      var(--color-navy-900) 50%,
      var(--color-navy-950) 50%
    );
  }
</style>
