---
import HeroImage from "../assets/images/illustration-intro.png";
---

<header class="hero-section relative">
  <div
    class="custom-container [--container-padding:40px_0] flex flex-col items-center gap-6 relative"
  >
    <figure class="max-w-md">
      <img class="w-full" src={HeroImage.src} alt="Fylo illustration" />
    </figure>

    <h1 class="text-white font-raleway-700 text-2xl text-center mt-6 max-w-md">
      All your files in one secure location, accesible anywhere.
    </h1>
    <p class="text-white font-opensans-400 text-center text-sm max-w-md">
      Fylo stores all your most important files in one secure location. Access
      them wherever you need, share and collaborate with friends, family and
      co-workers.
    </p>

    <button
      class="w-52 text-sm font-raleway-700 text-white py-3 rounded-3xl bg-cta shadow-xl"
    >
      Get started
    </button>
  </div>
</header>

<style>
  .hero-section::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/images/bg-curvy-mobile.svg"),
      linear-gradient(
        to bottom,
        var(--color-navy-850) calc(380px),
        var(--color-navy-900) calc(380px)
      );
    background-repeat: no-repeat;
    background-position:
      center 260px,
      center top;
    background-size: 110%;
  }

  @media (min-width: 375px) {
    .hero-section::before {
      background-image: url("../assets/images/bg-curvy-mobile.svg"),
        linear-gradient(
          to bottom,
          var(--color-navy-850) calc(400px),
          var(--color-navy-900) calc(400px)
        );
    }
  }

  @media (min-width: 425px) {
    .hero-section::before {
      background-image: url("../assets/images/bg-curvy-mobile.svg"),
        linear-gradient(
          to bottom,
          var(--color-navy-850) calc(420px),
          var(--color-navy-900) calc(420px)
        );
    }
  }

  @media (min-width: 530px) {
    .hero-section::before {
      background-image: url("../assets/images/bg-curvy-mobile.svg"),
        linear-gradient(
          to bottom,
          var(--color-navy-850) calc(470px),
          var(--color-navy-900) calc(470px)
        );
    }
  }

  @media (min-width: 640px) {
    .hero-section::before {
      background-image: url("../assets/images/bg-curvy-mobile.svg"),
        linear-gradient(
          to bottom,
          var(--color-navy-850) calc(500px),
          var(--color-navy-900) calc(500px)
        );
    }
  }

  @media (min-width: 768px) {
    .hero-section::before {
      background-image: url("../assets/images/bg-curvy-desktop.svg"),
        linear-gradient(
          to bottom,
          var(--color-navy-850) 99.5%,
          var(--color-navy-900) 99.5%
        );

      background-position:
        center bottom,
        center top;
    }
  }
</style>
