---
import type { HeroData } from "@/lib/getHeroData";
import HeroImage from "../assets/images/illustration-intro.png";

interface Props extends HeroData {}

const { heroTitle, heroDescription, ctaText } = Astro.props;
---

<header class="hero-section relative">
  <div
    class="custom-container [--container-padding:40px_0] flex flex-col items-center gap-6 relative"
  >
    <figure class="max-w-lg">
      <img class="w-full" src={HeroImage.src} alt="Fylo illustration" />
    </figure>

    <h1 class="text-white font-raleway-700 text-2xl text-center mt-6 max-w-lg">
      {heroTitle}
    </h1>
    <p
      class="text-white font-opensans-400 text-center text-sm sm:text-base max-w-lg"
    >
      {heroDescription}
    </p>

    <button
      id="cta-btn"
      class="w-52 text-sm sm:text-base font-raleway-700 text-white py-3 rounded-3xl bg-cta shadow-xl cursor-pointer custom-transition"
    >
      {ctaText}
    </button>
  </div>
</header>

<style>
  /* Estilos para dispositivos táctiles */
  @media (pointer: coarse) {
    #cta-btn:active {
      background-position: left center;
    }
  }

  /* Estilos para dispositivos con puntero fino (como un ratón) */
  @media (pointer: fine) {
    #cta-btn:hover {
      transform: translateY(-2px);
      background-position: left center;
    }
  }

  .hero-section::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/images/bg-curvy-mobile.svg"),
      linear-gradient(
        to bottom,
        var(--color-navy-850) calc(380px),
        var(--color-navy-900) calc(380px)
      );
    background-repeat: no-repeat;
    background-position:
      center 260px,
      center top;
    background-size: 110%;
  }

  @media (min-width: 375px) {
    .hero-section::before {
      background-image: url("../assets/images/bg-curvy-mobile.svg"),
        linear-gradient(
          to bottom,
          var(--color-navy-850) calc(400px),
          var(--color-navy-900) calc(400px)
        );
    }
  }

  @media (min-width: 425px) {
    .hero-section::before {
      background-image: url("../assets/images/bg-curvy-mobile.svg"),
        linear-gradient(
          to bottom,
          var(--color-navy-850) calc(420px),
          var(--color-navy-900) calc(420px)
        );
    }
  }

  @media (min-width: 530px) {
    .hero-section::before {
      background-image: url("../assets/images/bg-curvy-mobile.svg"),
        linear-gradient(
          to bottom,
          var(--color-navy-850) calc(470px),
          var(--color-navy-900) calc(470px)
        );
    }
  }

  @media (min-width: 640px) {
    .hero-section::before {
      background-image: url("../assets/images/bg-curvy-mobile.svg"),
        linear-gradient(
          to bottom,
          var(--color-navy-850) calc(500px),
          var(--color-navy-900) calc(500px)
        );
    }
  }

  @media (min-width: 768px) {
    .hero-section::before {
      background-image: url("../assets/images/bg-curvy-desktop.svg"),
        linear-gradient(
          to bottom,
          var(--color-navy-850) 99.5%,
          var(--color-navy-900) 99.5%
        );

      background-position:
        center bottom,
        center top;
    }
  }

  @media (min-width: 1600px) {
    .hero-section::before {
      background-color: var(--color-navy-850);
      background-image: unset;
    }
  }
</style>
