---
import Logo from "./assets/Logo.astro";
---

<nav class="bg-navy-850">
  <div
    class="custom-container [--container-padding:30px_0] flex items-center gap-4 font-raleway-400 text-sm"
  >
    <figure class="object-contain w-24">
      <Logo className="w-full fill-blue-500" />
    </figure>

    <a href="#" class="text-white ml-auto">Features</a>
    <a href="#" class="text-white">Team</a>
    <a href="#" class="text-white">Sign In</a>
  </div>
</nav>
