---
import iconQuote from "../assets/images/bg-quotes.png";
import type { Testimonial } from "@/lib/getTestimonials";
import TestimonialCard from "./TestimonialCard.astro";
interface Props {
  testimonials: Testimonial[];
}

const { testimonials } = Astro.props;
---

<section class="bg-navy-900">
  <div
    class="custom-container text-white relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:justify-items-center gap-8 lg:gap-4 lg:px-2"
  >
    <img
      class="absolute top-14 left-4 h-6 w-auto lg:h-10 lg:top-14 lg:left-0 lg:z-10"
      src={iconQuote.src}
      aria-hidden
    />
    {testimonials.map((testimonial) => <TestimonialCard {...testimonial} />)}
  </div>
</section>
