---
import "../styles/global.css";
import faviconImg from "../assets/images/error-icon.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={faviconImg.src} type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Raleway:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body class="h-[100dvh] overflow-clip">
    <slot />
  </body>
</html>
